@font-face {
  font-family: "BCSans";
  src: url("../fonts/BCSans-Regular.woff");
}
@font-face {
  font-family: "BCSans";
  src: url("../fonts/BCSans-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "BCSans";
  src: url("../fonts/BCSans-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "BCSans";
  src: url("../fonts/BCSans-BoldItalic.woff");
  font-style: italic;
  font-weight: bold;
}
body {
  --pf-global--FontFamily--sans-serif: "BCSans", Helvetica, Arial, sans-serif;
  --pf-global--FontFamily--heading--sans-serif: "BCSans", Helvetica, Arial,
    sans-serif;
  --pf-global--BackgroundColor--dark-100: #003366;
  --pf-global--Color--100: #000000;
}
#page-sidebar {
  background-color: #003366;
}
.pf-c-nav__list .pf-c-nav__link {
  --pf-c-nav__link--hover--BackgroundColor: #1a5a96;
  --pf-c-nav__link--focus--BackgroundColor: #1a5a96;
  --pf-c-nav__link--active--BackgroundColor: #1a5a96;
  --pf-c-nav__link--m-current--BackgroundColor: #38598a;
}
