@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Regular.woff');
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Bold.woff');
	font-weight: bold;
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Italic.woff');
	font-style: italic;
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-BoldItalic.woff');
	font-style: italic;
	font-weight: bold;
}
body {
    font-family: "BCSans", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.login-pf body {
    background: #003366;
}
.form-control {
	border: 2px solid #003366;
}
.btn-primary {
	background-color: #38598A;
    color: #FFFFFF;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 6px;
	background-image: none;
}
.btn-primary:hover {
	background-color: #2F4F80;
}
.login-pf-page .card-pf {
	border-radius: 20px;
	padding: 30px 40px;
	max-width: 600px;
}
.login-pf-page .login-pf-page-header {
    margin-top: 40px;
}
.login-pf-page .login-pf-header {
    margin-bottom: 30px;
}
.gov-bc-logo img{
	width: 10%;
	margin-right: 30px
}
#kc-header-wrapper {
	display: inline-flex;
	padding: 0px;
	vertical-align: bottom;
	letter-spacing: normal;
	font-weight: bold;
	text-transform: none;
}
#kc-header-image-wrapper {
	display: inline;
}