@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Regular.woff');
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Bold.woff');
	font-weight: bold;
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-Italic.woff');
	font-style: italic;
}
@font-face {
	font-family: "BCSans";
	src: url('../fonts/BCSans-BoldItalic.woff');
	font-style: italic;
	font-weight: bold;
}
body {
    font-family: "BCSans", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
ol {
	margin-top: 10px;
}
.login-pf,
.login-pf body {
    background: #003366;
}
.zocial, a.zocial {
	font-family: "BCSans", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.form-control {
	border: 2px solid #003366;
}
.btn-primary {
	background-color: #38598A;
    color: #FFFFFF;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 6px;
	background-image: none;
}
.btn-primary:hover {
	background-color: #2F4F80;
}
.btn-default {
    background-color: white;
	background-image: none;
	border-radius: 6px;
	height: 40px;
    border: 2px solid #003366;
    color: #4d5258;
}
.btn-default:hover {
	    border: 2px solid #003366;
}
.login-pf-page .card-pf {
	border-radius: 16px;
	padding: 30px 40px;
	max-width: 600px;
}
.login-pf-page .login-pf-page-header {
    margin-top: 40px;
}
.login-pf-page .login-pf-header {
    margin-bottom: 0px;
}
.login-pf-page .login-pf-header h1 {
	font-weight:bold;
	font-size: 32px
}
.gov-bc-logo img{
	width: 10%;
	margin-right: 30px
}
#kc-header-wrapper {
	display: inline-flex;
	padding: 0px;
	vertical-align: bottom;
	letter-spacing: normal;
	font-weight: bold;
	text-transform: none;
}
#kc-header-image-wrapper {
	display: inline;
}
.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 0px;
    border-left: none;
    width: 100%;
	max-width: none;
}

@media (min-width: 768px)
.login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 0px;
    border-right: none;
    margin-right: -1px;
}

.login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 0px;
    border-right: none;
    margin-right: -1px;
}
@media (min-width: 768px)
.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 0px;
    border-left: none;
}
.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 0px;
    border-left: none;
}

.login-pf-page .login-pf-social-link a,
.login-pf-page .login-pf-social-link a:hover {
    background-color: #002663;
    border-radius: .7rem;
    color: #fff;
	font-size: 24px;
    display: block;
    margin: 2.5rem auto;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
	box-shadow: none;
}
.login-pf-page .login-pf-social-link a:hover {
	background: #204A88 !important;
}
#kc-form-buttons {
	margin-top: 30px;
}
#kc-login {
	margin-bottom: 20px;
}
.link-account-info {
	margin-top: 10px;
    margin-bottom: -30px;
}
.centered {
	text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
  border-radius: 16px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: -25px;
  right: -15px;
}

.close:hover,
.close:focus {
  color: #363636;
  text-decoration: none;
  cursor: pointer;
}