$body-font-family: 'BCSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root: 10px;
$material-light: (
    'background': #F1F1F1
);
$btn-font-sizes: (
    'small': 1.6rem
);
$btn-letter-spacing: .07em;