$body-font-family: 'BCSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root: 16px;
$material-light: (
    'background': #F1F1F1
);
$btn-font-sizes: (
    'small': 1rem
);
$btn-font-weight: 600;
$btn-letter-spacing: .04em;
$btn-text-transform: none;

$text-field-padding: 10px;
$text-field-outlined-fieldset-border-width: 2px;